<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>

<p id="power">0</p>
<script>
    var socket = io.connect('52.29.223.24:3000', {'forceNew':true });
    //var socket = io('http://192.168.10.10:3000');
    socket.on("test-channel:App\\Events\\EventName", function(message){
        // increase the power everytime we load test route
        $('#power').text(message.data);
        console.log(message);
    });
</script>